Repository team-yeo-eun-pa/greenFire-frontend, pull requests merged in 2024-11, with the labels that each got.

#126 #101 장바구니 페이지 구현
  .idea/inspectionProfiles/Project_Default.xml
  src/App.js
  src/apis/CartAPI.js
  src/apis/ProductAPI.js
  src/components/common/NavBar.js
  src/components/form/ProductOptionAddForm.js
  src/components/items/MyStoreCartItem.js
  src/components/items/ProductDetailItem.js
  src/components/items/ProductItem.js
  src/components/items/ToCartModal.js
  src/components/items/WishItem.js
  src/components/items/WishToCartModal.js
  src/modules/CartModules.js
  src/modules/ProductModules.js
  src/modules/index.js
  src/pages/product/Cart.js
  src/pages/product/ProductDetail.js
  src/pages/product/Wishlist.js
  src/style.css
Labels: ✨feat, 🎨React/CSS

#133 #125 아이디 / 비밀번호 찾기 및 기존 기능 개선, 수정
  src/App.js
  src/apis/MemberAPICalls.js
  src/components/common/AdminPageNavBar.js
  src/components/common/NavBar.js
  src/components/form/SignupForm.js
  src/components/items/LoginModal.js
  src/components/items/MemberProfileItem.js
  src/layouts/common/Layout.js
  src/modules/MemberModules.js
  src/pages/Main.js
  src/pages/admin/AdminApplyDetail.js
  src/pages/member/ApplyDetail.js
  src/pages/member/FindMemberId.js
  src/pages/member/RequestPasswordReset.js
  src/pages/member/ResetPassword.js
  src/pages/member/VerifyPasswordReset.js
  src/pages/seller/StoreProfile.js
  src/utils/TokenUtils.js
Labels: ✨feat, 🐞bug, 🔨refactor

#134 #132 상품 관련 페이지 리팩토링
  src/App.js
  src/apis/ProductAPI.js
  src/components/form/ProductOptionEditForm.js
  src/components/items/MystoreProductItem.js
  src/components/items/ProductOptionEditList.js
  src/components/items/ProductOptionEditListItem.js
  src/components/items/ProductOptionEditModal.js
  src/pages/seller/ProductInfoEdit.js
  src/pages/seller/ProductOptionEdit.js
  src/pages/seller/ProductRegist.js
  src/style.css
Labels: 🎨React/CSS, 🔨refactor
